.emailRow {
  display: flex;
  align-items: center;
  height: 3em;
  border-bottom: 0.15em solid whitesmoke;
  cursor: pointer;
  z-index: 999;
}
.emailRow:hover {
  border-top: 0.15em solid whitesmoke;
  box-shadow: 0 0.45em 0.45em -0.3em rgba(0, 0, 0, 0.24);
}

.emailRow__options {
  display: flex;
}


.emailRow__title {
  flex: 0.3;
  margin-left: 0.5em;
  font-size: 1em;
  text-transform: capitalize;
  white-space: nowrap;
}

.emailRow__message {
  flex: .8;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.emailRow__message > h4 {
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5em;
}

.emailRow__description {
  font-weight: 400;
  color: grey;
}

.emailRow__time {
  flex: 1;
  text-align: right;
  padding-right: 1em;
  font-size: 0.7em;
  font-weight: bold;
  white-space: nowrap;
}
