.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login__container{
    display: flex;
    flex-direction: column;
}

.login__container > figure {
    height: 15em;
}

.login__container > figure > img {
    object-fit: contain;
}

.login__container > button {
    text-transform: capitalize;
}