.sidebar__compose{
    margin: 1em 0 1em .8em !important;
    text-transform: capitalize !important;
    color: black !important;
    padding: 1em !important;
    border-radius: 2em !important;
    box-shadow: 0 .1em .2em -.1em rgba(0, 0, 0, 0.75);
}