.sidebar{
    max-width: 18em;
}

.sidebar__compose{
    margin: 1em 0 1em .8em !important;
    text-transform: capitalize !important;
    color: black !important;
    padding: 1em !important;
    border-radius: 2em !important;
    box-shadow: 0 .1em .2em -.05em rgba(0, 0, 0, 0.75);
}

.sidebar__footer{
    display: flex;
    justify-content: center;
}

.sidebar__footerIcons{
    display: flex;
    justify-content: center;
    gap: .5em;
}